@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	color: #f5eede;
	margin: 0;
	padding: 0;
	background-color: #203f5c;
	background-image: url("img/bg.png");
	background-repeat: repeat;
	animation: slowscroll 10s linear infinite;
	font-family: "Montserrat", sans-serif;
}


#loadingscreen {
	background-color: #203f5c;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: -50vh 0;
	padding: 0;

	transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);

	#loadingcontainer {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: auto;
	}

	#spinner {
		width: 256px;
		height: 256px;
		animation: spinner 10s linear infinite;
	}

	p {
		text-align: center;
	}

}

.fadeout {
	opacity: 0;
	transform: translateY(100px);
}

@keyframes slowscroll {
	0%	  {background-position-x: 0px}
	100%  {background-position-x: 256px}
}

@keyframes spinner {
	0%	{transform: rotate(0deg);}
	100%	{transform: rotate(360deg);}
}

#register_screen {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-weight: 550;

	padding: 0 4em;

	#logo_half {
		text-align: center;
		flex-grow: 1;

		#logo {
			width: 80%;
		}
	}

	form {
		font-size: 16px;
		flex-grow: 1;
		color: #162d43;
		padding: 24px;

		border-radius: 28px;
		margin: auto;
		background-color: #f5eede;

		display: grid;
		grid-template-columns: 9.5em 2fr;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		justify-content: space-between;
		align-content: center;

		label {
			align-content: center;
		}

		input {
			font-size: 16px;
			color: #f5eede;
			background-color: #203f5c;
			padding: 8px;
			border: none;
			border-radius: 4px;
		}

		input:focus {
			background-color: #162d43;
		}

		#registerButton {
			grid-column: 1 / 3;
			justify-self: center;
			width: 80%;
			background-color: #264528;
			color: #caffcc;
		}

		#registerButton:disabled {
			font-style: italic;
			background-color: #342827;
			color: #f5eede7f;
		}
	}
}
